
.bgx img{
    width: 100%;
    position: relative;
    height: 480px;
    width: 100%;
    object-fit: cover;
}
.about-content
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
